<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="path" value="C:\Users\jh\Documents\Visual Studio 2010\Projects\MyDocsSL\MyDocsSL.Web\App_Data\"/>
    <add key="url" value="http://localhost:24336/MyDocsSL.Web/{0}?filename={1}"/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="" maxBufferPoolSize="2147483647" bypassProxyOnLocal="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="45000" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxArrayLength="100000" maxNameTableCharCount="100000"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="10"/>
          <bufferedReceive maxPendingMessagesPerChannel="10"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>


  <system.webServer>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true"/>
        <requestLimits maxAllowedContentLength="2147483647"/>

      </requestFiltering>
    </security>

  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="2147483647" enable="true"/>
  </system.web>
</configuration>
